body {
	font-family: 'Kelly Slab', cursive;
	background-image: url(../images/background.jpg);
}

header {
	margin-top: 10px;
	margin-right: 200px;
}

img {
	width: 130px;
	height: 90px;
	border: 1px solid black;
}

button {
	width: 155px;
    background-color: white;
    border: 1px black solid;
}
.col-sm-2 {
	padding-left: 0;
}
.row .text-center  {
	display: block;
	margin-right: auto;
	margin-left: auto;
}


#defender {
	background-color: black;
	border: 2px solid green;
}

#characters {
	padding: 0px;
}
