body {
	font-family: 'Kelly Slab', cursive;
	background-image: url(../images/background.png);
	background-repeat: no-repeat;
	background-size: cover;
}

header {
	margin-top: 10px;
	margin-right: 200px;
}

img {
	width: 132px;
	height: 91px;

}

h3 {
	margin: 5px 0;
}

button {
	width: 155px;
    background-color: white;
    border: 1px black solid;
}

#top {
    margin-top: 10px;
}

#characters, #enemies {
	padding: 0px;
}

#narration {
	color: aliceblue;
	font-size: 18px;
}

#restart {
	display: none;
}

.row .text-center  {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.attack, #availEnemies, #fightSection, #defender {
	display: none;
}